@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #282828;
    --secondary: #fff0e3;
    --orange: #fea75f;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    /* Global */
    .text-balance {
        text-wrap: balance;
    }

    .section-container {
        @apply w-full px-5 md:px-10 2xl:px-20;
    }

    .small-title {
        @apply text-[20px] font-[600];
    }

    .sub-title {
        @apply text-[48px] md:text-[50px] 2xl:text-[63px] font-[600] -tracking-[2.52px] leading-[1.2em];
    }

    .sub-title2 {
        @apply text-[40px] font-semibold -tracking-[0.04em] leading-[1.1em] text-secondary md:text-[68px] xl:text-[86px];
    }

    .summary {
        @apply text-[22px] font-semibold leading-[1.2em] md:text-[28px] xl:text-[34px];
    }

    .body-text {
        @apply text-[16px] text-[#5f6980] md:text-[20px] leading-[1.7em];
    }

    /*  BLOG CONTENT  */
    .blog-content-subtitle {
        @apply text-[40px] font-semibold leading-[1.1em] md:text-[43px] xl:text-[54px];
    }

    .blog-content-smallTitle {
        @apply text-[20px] font-semibold md:text-[28px];
    }
}
